<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <EnableADPublish>true</EnableADPublish>
    <ADDirectoryAccessLevel>1</ADDirectoryAccessLevel>
    <ADDomain>dgautamhclgmail.onmicrosoft.com</ADDomain>
    <ADUsesOwinOrOpenIdConnect>true</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://ssobydeepindotnetcore.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <PublishFramework>netcoreapp1.0</PublishFramework>
    <UsePowerShell>True</UsePowerShell>
    <EnableMSDeployAppOffline>True</EnableMSDeployAppOffline>
    <MSDeployServiceURL>ssobydeepindotnetcore.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ssobydeepindotnetcore</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$ssobydeepindotnetcore</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <ADAppIDUri>https://dgautamhclgmail.onmicrosoft.com/WebApp-ssobydeepindotnetcore.azurewebsites.net</ADAppIDUri>
    <ADDestinationProvisioned>True</ADDestinationProvisioned>
    <ADClientAPPID>5ab3209d-042c-426e-9200-d5f815102a9d</ADClientAPPID>
    <ADClientPassword>BUFm0iTF3w27wzzKTT8+OffJnBV3t0OpJOUMPG9Eqco=</ADClientPassword>
    <ADReplyUrl>https://ssobydeepindotnetcore.azurewebsites.net/</ADReplyUrl>
    <ADIssuer />
    <ADTenantId>44268673-d047-4fba-9fae-2a8e5b407128</ADTenantId>
    <ADPostLogoutRedirectUri>https://ssobydeepindotnetcore.azurewebsites.net/</ADPostLogoutRedirectUri>
  </PropertyGroup>
</Project>