@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>Single Sign on by Deep Gautam</p>

URL of applications, configured for single sign on.
<br />
<a class="btn btn-default" href="https://ssobydeep12.azurewebsites.net/">
    single sign on application 1 with Azure Content
</a>
<br />
<a class="btn btn-default" href="https://ssobydeepg.azurewebsites.net/">
    single sign on application 1 with Azure Content
</a>
<br />
<a class="btn btn-default" href="http://ssobydeepindotnetcore.azurewebsites.net">
    single sign on application 1 with Azure Content for dot net core applications
</a>


