@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Single SignOn Test By Deep Gautam</h1>
    <p class="lead">This is the test app to test Windows Azure AD single signon </p>
    <p>Deploying Azure AD integrated applications to users</p>
    <p>Azure AD provides several customizable ways to deploy applications to end-users in your organization:+
Azure AD access panel
Office 365 application launcher
Direct sign-on to federated apps
Deep links to federated, password-based, or existing apps
Which method(s) you choose to deploy in your organization is your discretion</p>
    <p><a href="https://docs.microsoft.com/en-us/azure/active-directory/active-directory-appssoaccess-whatis#deploying-azure-ad-integrated-applications-to-users" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Help protect a web API by using bearer tokens from Azure AD-</h2>
        <p>
            
            f you’re building an application that provides access to protected resources, you need to know how to prevent unwarranted access to those resources. Azure Active Directory (Azure AD) makes it simple and straightforward to help protect a web API by using OAuth 2.0 bearer access tokens with only a few lines of code.
        </p>
        <p><a class="btn btn-default" href="https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-devquickstarts-webapi-dotnet">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>How to Integrate SaaS Apps with Azure Active Directory</h2>
        <p>To help you integrate all of your cloud (SaaS) applications with Azure Active Directory, we have developed a collection of tutorials that show you each of the necessary configuration steps.</p>
        <p><a class="btn btn-default" href="https://docs.microsoft.com/en-us/azure/active-directory/active-directory-saas-tutorial-list">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>How to get an Azure Active Directory tenant</h2>
        <p>In Azure Active Directory (Azure AD), a tenant is representative of an organization. It is a dedicated instance of the Azure AD service that an organization receives and owns when it signs up for a Microsoft cloud service such as Azure, Microsoft Intune, or Office 365. Each Azure AD tenant is distinct and separate from other Azure AD tenant.</p>
        <p><a class="btn btn-default" href="https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-howto-tenant">Learn more &raquo;</a></p>
    </div>
</div>