<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WsName" transactionFlow="true" />
            </wsHttpBinding>
        </bindings>
        <services>
            <service name="OrderManagementService.OrderService">
                <endpoint address="http://localhost:56884/OrderService.svc" binding="wsHttpBinding"
                    bindingConfiguration="WsName" contract="OrderManagementService.IOrderService" />
            </service>
        </services>
    </system.serviceModel>
</configuration>